.custom-margin {
  margin: 10px 10px 10px;
}

.p-dialog {
  z-index: 1000;
}

.custom-form .p-field {
  margin-bottom: 1rem;
}

.p-dialog-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.p-button-sm {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

/* Custom styling for the confirmation dialog buttons */
.custom-accept-button {
  background-color: #e53935; /* Custom red color for the delete button */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.custom-reject-button {
  background-color: #9e9e9e; /* Custom grey color for the cancel button */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

/* Optional: Customize the dialog's text and spacing */
.p-confirm-dialog .p-dialog-message {
  font-size: 1rem; /* Increase font size */
  padding: 1rem; /* Add padding around the message */
}

.p-confirm-dialog .p-dialog-header {
  font-weight: bold;
  font-size: 1.25rem;
}

.p-confirm-dialog .p-dialog-content {
  padding: 1.5rem; /* Add extra padding around the content */
}

